#user-login-form, #user-pass {
  margin: auto;
}
.form-type-vertical-tabs {
  display: none;
}
#edit-field-jurisdiction--wrapper .form-item, #edit-field-location--wrapper .form-item {
  width: 135px;
  display: inline-block;
}
#edit-field-jurisdiction--wrapper .field-suffix, #edit-field-location--wrapper .field-suffix {
  display: none;
}
#edit-field-jurisdiction--wrapper .input-group, #edit-field-location--wrapper .input-group {
  margin-bottom: -15px;
}
#edit-field-jurisdiction--wrapper .input-group-addon, #edit-field-location--wrapper .input-group-addon {
  border: 0;
  background-color: transparent;
  display: inline;
  left: 70px;
  position: relative;
}

#node-project-edit-form .field-multiple-drag, #node-project-edit-form .tabledrag-toggle-weight-wrapper {
  display: none;
}

#node-project-edit-form .paragraph-type-title {
  font-size: 0;
}
