#user-login-form, #user-pass {
  margin: auto;
}
.form-type-vertical-tabs {
  display: none;
}
#edit-field-jurisdiction--wrapper .form-item {
  width: 100px;
  display: inline-block;
}
#edit-field-jurisdiction--wrapper .field-suffix {
  display: none;
}
#edit-field-jurisdiction--wrapper .input-group {
  margin-bottom: -15px;
}
#edit-field-jurisdiction--wrapper .input-group-addon {
  border: 0;
  background-color: transparent;
  display: inline;
  left: 40px;
  position: relative;
}
